@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(fonts/librebaskerville1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(fonts/librebaskerville2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* All pages */
html, body {
    width: 100%;
    max-width: calc(min(1000px, 80ch));
    margin: auto;
}

body {
    font-size: 22px;
    line-height: 1.51;
    font-weight: 300;
    /* Necessary to do the large-code hack below. */
    overflow-x: hidden;
}

html {
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

a, a:visited {
    color: #9d0505;
}

.highlight {
    background-color: #f3f8ff;
    margin: 2em 0;
}

.highlight > pre {
    padding: 1em;
}

@supports (font-variation-settings: normal) {
  html {
      font-family: 'Inter var', sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Libre Baskerville", "Verdana", serif;
}

h1, h2, h3 {
    font-weight: 100;
}
h4, h5, h6 {
    font-weight: 200;
}

h1 a, h1 a:visited {
    color: black;
}

/* Navigation */

nav {
    border-top: 1px solid #6c6c6c;
    padding-top: 0.5rem;
}

nav ul {
    display: flex;
    padding: 0;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

/* Header on all the pages */

.main-header {
    margin-top: 1rem;
    text-align: center;
}
.main-header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.main-header img {
    height: 200px;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.main-header ul {
    margin-bottom: 0.5rem;
}
.main-header ul, nav ul {
    list-style-type: none;
}

.main-header li {
    display: inline;
    margin: 5px;
}
.main-header li a {
    font-size: 1.6rem;
    padding: 4px;
}

main {
    margin-top: 3rem;
}

/* Index page */

.index-tag {
    margin-bottom: 0.5rem;
}
.index-tag a, .index-tag a:visited {
    color: black;
}

i.fa.fa-rss {
    color: #f09b4e;
}

.index-item {
    display: flex;
}
.index-item h3, .index-item p {
    margin-top: 0;
    margin-bottom: 0;
}

.index-item p {
    color: rgba(0, 0, 0, 0.7);
    flex: 1;
}
.index-item h3 {
    flex: 5;
}

/* Article page */
article h1 {
    font-size: 1.5em;
}

article h2 {
    font-size: 1.3em;
}

article h3 {
    font-size: 1.2em;
}

article h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
article h2, article h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article header {
    margin-bottom: 0;
    margin-top: 0;
}
article header h1, article header h2, article header h3 {
    margin-top: 0;
    margin-bottom: 0;
}
article header h1 {
    margin-bottom: 0.5rem;
}
article header h1 + p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
}

article p {
    margin-top: 0;
}
article img {
    max-width: 100%;
    border: 1px solid lightgrey;
}
article ul {
    padding-left: 20px;
    margin-bottom: 0.5rem;
}
article pre {
    font-size: 0.8em;
    overflow: auto;
}

article a {
    padding: 0.159rem 0.159rem;
    background-color: #efefef;
}

article h1 a, article h1 a:visited,
article h2 a, article h2 a:visited,
article h3 a, article h3 a:visited {
    color: black;
    background-color: white;
}

article h3 a:not(.toclink) {
    color: #9d0505;
    background-color: white;
}

article h1 .toclink:before, article h2 .toclink:before, article h3 .toclink:before {
    content: "¶ ";
    color: lightgrey;
    margin-left: -28px;
}

/* Footer */

footer {
    margin-top: 1rem;
    border-top: 1px solid #6c6c6c;
}

footer p {
    display: inline-block;
}

/* Mermaid graphs */

.mermaid svg {
    display: block;
    margin: auto;
}

/* Media queries */

@media (max-width: 768px) {
    main {
        margin-left: 5px;
        margin-right: 5px;
    }

    nav ul {
        max-width: 100%;
    }

    .index-item {
        margin-bottom: 1rem;
    }
    .index-item p {
        display: none;
    }

    footer > * {
        margin-top: 0;
        margin-bottom: 0;
    }
}
