{% extends "base.html" %}

{% block content %}

<p>Hi! I'm Benjamin, welcome to my place!</p>

<p>
    This is also my <b>blog</b>, where I write about free-software, be
    it related to my work or side-projects, and sometimes about other random
    topics. Feel free to <a href="mailto:benjamin+blog@bouvier.cc">get in touch</a>!
</p>

<p>
    I am a software engineer specialized in the compiler area, using the
    Rust/C++ programming languages.  Previously I've worked on the
    implementation of WebAssembly at
    <a href="https://mozilla.org/">Mozilla</a>, the company behind the
    open-source browser Firefox.
</p>

<p>
    Free-to-use cloud services own too much personal data about their users,
    threatening the right to privacy and to a broader extent, democracy. For
    this reason, I use as much as I can decentralized, free software,
    self-hosted web services. As my personal contribution to this ideal, I
    develop <a href="https://kresus.org">Kresus</a>, a free personal finance
    management web app.
</p>

<h2 class="index-tag">Latest blog posts</h2>
{% for article in articles_page.object_list[:5] %}
    <div class="index-item">
      <p>
        {{article.date|strftime('%Y/%m/%d')}}
      </p>
      <h3><a href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">{{ article.title }}</a></h3>
    </div>
{% endfor %}

{% for tag, articles in tags|sort %}
<h2 class="index-tag">
      <a href="{{ SITEURL }}/{{ tag.url }}">#{{tag}}</a>
      {% if FEED_ALL_RSS %}
      <a href="{{ FEED_DOMAIN }}/tag/{{ tag }}.rss"><i class="fa fa-rss" title="rss feed"></i></a>
      {% endif %}
</h2>
    {% for article in articles %}
    <div class="index-item">
      <p>
        {{article.date|strftime('%Y/%m/%d')}}
      </p>
      <h3><a href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">{{ article.title }}</a></h3>
    </div>
    {% endfor %}
{% endfor %}

{% include "partial/pagination.html" %}

{% endblock %}
